* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dbdad8;
}

section.ratings {    
    padding: 2rem 2.5rem 3rem 2.5rem;
}

.ratings__title {
    text-align: center;
    margin-bottom: 3rem;
}

.ratings__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/* Rating1 */
.rating1, .rating2 {
    width: 160px;
    height: 160px;
    /* background-color: cornflowerblue; */
    position: relative;
    transform: scale(140%);
    margin-top: 3rem;
}

.rating1__title, .rating2__title {
    text-align: center;
    margin-bottom: .6rem;
}

.rating1__outer, .rating2__outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 18px;
    border: 2px solid #757575;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .15), -6px -6px 10px 2px rgba(255, 255, 255, .8);
}

.rating1__inner, .rating2__inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, .2), inset -4px -4px 6px -1px rgba(255, 255, 255, .7), 
    -.5px -.5px 0px rgba(255, 255, 255, 1), .5px .5px 0px rgba(0, 0, 0, .15), 0px 12px 10px -10px rgba(0, 0, 0, .05);
}

#number1, #number2 {
    font-weight: 550;
    font-family: 'Orbitron', sans-serif;
    color: #555;
}

svg {
    position: absolute;
    top: 28px;
    left: 0;    
}

/* Circle1 */
circle {
    fill: none;
    stroke: cornflowerblue;
    stroke: url(#GradientColor);
    stroke-width: 18.7px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    transform-origin: center;
    transform: rotate(-70deg);
}
circle.show {    
    animation: move-circle 2s linear forwards;
    -moz-animation: move-circle 2.9s linear forwards;
    stroke-linecap: square;
}
@keyframes move-circle {
    100% {stroke-dashoffset: 86;}
}

/* Circle2 */
.rating2 circle {
    stroke: url(#GradientColor2);
    transform-origin: center;
    transform: rotate(-78deg);
}
.rating2 circle.show {
    animation: move-circle2 4s linear forwards;
    -moz-animation: move-circle2 6.2s linear forwards;
    stroke-linecap: round;
}
@keyframes move-circle2 {
    100% {stroke-dashoffset: 0;}
}

.button-info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.button-info button {
    font-size: .75rem;
    font-family: 'Raleway', sans-serif;
    margin: .2rem 0 0 .1rem;
    width: 80px;
    padding: 5px 7px;
    border: 2px solid #327ab6;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #bebbbb;
    background: #313131;
    box-shadow: 0 0 0 3px #353535, 0 0 0 4px #3e3e3e, 0 5px 10px rgba(0, 0, 0, .5);
    transform: scale(1.2);
    transition: all .5s;
}
.button-info button:hover {
    background: #585858;
    border: 2px solid #1d5a8b;
    color: white;
}

button#btn2 {
    border: 2px solid #e28b07;
}

/* Media Queries - Ratings */
@media(max-width: 768px) {
    .ratings__content {
        flex-direction: column;
        align-items: center;
    }

    .rating1, .rating2 {
        margin-top: .5rem;
        transform: scale(120%);
    }

    .rating2 {
        margin: 7rem 0;
    }

    .button-info {
        margin-top: 0rem;
    }
}

@media(max-width: 375px) {
    .rating1, .rating2 {
        transform: scale(110%);
    }

    .rating2 {
        margin: 5.5rem 0 4.5rem 0;
    }
}

@media(max-width: 325px) {
    .rating1, .rating2 {
        transform: scale(100%);
        margin-top: 0rem;
    }

    .rating2 {
        margin: 4rem 0;
    }
}